{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "18"
        },
        "modules": false // Important for ESM to let native Node handle modules
      }
    ]
  ],
  "plugins": []
}
